@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
    <script>
        function ProcessCharacter() {
            var region = $('#region').val();
            var realm = $('#realm').val();
            var name = $('#name').val();
            var season = $('#season').val();
            var targetRating = $('#targetRating').val();
            
            $.ajax({
                url: "/@ViewContext.RouteData.Values["controller"]/ProcessCharacter",
                type: "get",
                dataType: "html",
                data: {
                    region,
                    realm,
                    name,                    
                    targetRating
                },
                beforeSend: function () { $("#CharInfoDiv").append("<div class='loader'/>"); },
                success: function (result) { $("#CharInfoDiv").html(result);},                               
                error: function (xhr) {$("#CharInfoDiv").html(`
                        <div class="alert alert-danger d-flex align-items-center" role="alert">          
                          <div>
                             <b>${xhr.statusText} ${xhr.status}</b>: ${xhr.responseText}
                          </div>
                        </div>`);
                }
            });

        }
    </script>
}

<div class="row">
    <div class="col-md-5 ">
        <div class="card sticky-top">
            <div class="card-header">
                Search
            </div>
            <div class="card-body">

                <div class="mb-3 row">
                    @Html.Label("region","Region",new {@class = "col-md-4 col-form-label text-end"})

                    <div class="col-md-8">
                        @Html.DropDownList("region",
                        Enum.GetNames(typeof(Enums.Regions)).ToList().Select(x=> new SelectListItem {
                        Text = x,
                        Value = x.ToLower(),
                        Selected = x=="US"}),
                        "Select Region",new { @class = "form-control" })
                    </div>
                </div>
                <div class="mb-3 row">
                    @Html.Label("realm","Realm",new {@class = "col-md-4 col-form-label text-end"})
                    <div class="col-md-8">
                        @Html.TextBox("realm","",new { @class = "form-control" })
                    </div>
                </div>
                <div class="mb-3 row">
                    @Html.Label("name","Name",new {@class = "col-md-4 col-form-label text-end"})
                    <div class="col-md-8">
                        @Html.TextBox("name","",new { @class = "form-control" })
                    </div>
                </div>                
                <div class="mb-3 row">
                    @Html.Label("targetRating","Target Rating",new {@class = "col-md-4 col-form-label text-end"})
                    <div class="col-md-8">
                        @Html.TextBox("targetRating","",new { @class = "form-control",  type="number"  })
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 text-end">
                        <input type="submit" class="btn btn-primary" onclick="ProcessCharacter()" value="Search" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                Info
            </div>
            <div class="card-body" id="CharInfoDiv">                
                <div class="text-center">
                    Enter info to start
                </div>
            </div>
        </div>
    </div>
</div>