@model SearchToonViewModel
@section scripts {
    <script>

        function toggleLoading(show) {
            if (show) {
                $(".loadingSpinner").show();
                $('[role="status"]').show();
                $('[role="button"]').hide();
                $("#CharInfoDiv").addClass("loader");
            }
            else {
                $(".loadingSpinner").hide();
                $('[role="status"]').hide();
                $('[role="button"]').show();
                $("#CharInfoDiv").removeClass("loader");
            }
            $(".btn").prop('disabled', show);

        }

        $(function () {
            $("form").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/@ViewContext.RouteData.Values["controller"]/ProcessCharacter",
                    type: "get",
                    dataType: "html",
                    data: $('form').serialize(),
                    beforeSend: function () { toggleLoading(true); },
                    complete: function () { toggleLoading(false); },
                    success: function (result) { $("#CharInfoDiv").html(result); },
                    error: function (xhr) {
                        $("#CharInfoDiv").html(`<div class="alert alert-danger " role="alert">
                                                                                                        <div>
                                                                                                            ${xhr.responseText}
                                                                                                        </div>
                                                                                                    </div>`);
                    }
                });

            });
        });

        $(function () {
            var regionSelect = $('#@(Html.NameFor(m => m.Region))');
            var realmSelect = $('#@(Html.NameFor(m => m.Realm))');
            var expansionSelect = $('#@(Html.NameFor(m => m.ExpansionId))');
            var seasonSelect = $('#@(Html.NameFor(m => m.SeasonSlug))');
            var dungSelect = $('#@(Html.NameFor(m => m.AvoidDungeon))');

            function populateSelect(select, items) {
                select.html('');
                //select.append('<option value="" disabled>Select one--</option>');

                var selectedVal = "";

                items.forEach(function (item) {
                    if (item.selected) selectedVal = item.value;
                    var optionData = '<option value="' + item.value + '" title="' + item.title + '">' + item.text + '</option>';
                    select.append(optionData);
                });

                select.selectpicker('destroy');
                if (selectedVal !== "") select.selectpicker('val', selectedVal);
                select.selectpicker('render');
            };

            function GetSelectItems(action, id, select, finishCallBack) {
                $.ajax({
                    url: '/@ViewContext.RouteData.Values["controller"]/' + action,
                    type: 'GET',
                    datatype: 'JSON',
                    data: { id },
                    beforeSend: function () {
                        $('#Load' + action).show();
                        select.selectpicker('hide')
                    },
                    complete: function () {
                        select.selectpicker('show');
                        $('#Load' + action).hide();
                        select.selectpicker('render');
                        if (finishCallBack !== undefined) finishCallBack();
                    },
                    success: function (data) { populateSelect(select, data); }
                });

            }


            //Dropdownlist Selectedchange event
            regionSelect.change(function () {
                var selectedRegion = this.options[this.selectedIndex].value;
                GetSelectItems('GetRealms', selectedRegion, realmSelect);
            });

            expansionSelect.change(function () {
                var selectedExp = this.options[this.selectedIndex].value;
                GetSelectItems('GetSeasons', selectedExp, seasonSelect, function () {
                    var selectedSeason = seasonSelect.val();
                    GetSelectItems('GetDungeons', JSON.stringify({ Season: selectedSeason, Expansion: selectedExp }), dungSelect);
                });
            });

            seasonSelect.change(function () {
                var selectedExp = expansionSelect.val();
                var selectedSeason = this.options[this.selectedIndex].value;
                GetSelectItems('GetDungeons', JSON.stringify({ Season: selectedSeason, Expansion: selectedExp }), dungSelect);
            });


            GetSelectItems('GetRealms', regionSelect.val(), realmSelect);
            GetSelectItems('GetSeasons', expansionSelect.val(), seasonSelect, function () {
                GetSelectItems('GetDungeons', JSON.stringify({ Season: seasonSelect.val(), Expansion: expansionSelect.val() }), dungSelect);
            });






        });
    </script>
}
<form class="needs-validation" novalidate>
    <div class="row">
        <div class="col mt-5" style="min-width:350px;max-width:450px">
            <div class="container px-4 sticky-top">
                <div class="row">
                    <div class="col">
                        <h2><a class="navbar-brand" asp-controller="Home" asp-action="Index">Mythic Keystone Planner</a></h2>
                        Find out what mythic plus keys you should run to achieve a target rating!
                        <hr />
                    </div>
                </div>
                <div asp-validation-summary="All"></div>
                <div class="row mb-2">
                    <div class="col-4">
                        <Label asp-for="Region" class="mb-1 form-label"></Label>
                        <select asp-for="Region" asp-items="Html.GetEnumSelectList<Enums.Regions>()" class="form-select" data-bs-theme="light"></select>
                    </div>
                    <div class="col-8">
                        <Label asp-for="Realm" class="mb-1 form-label"></Label>
                        @* <input asp-for="Realm" class="form-control" data-bs-theme="light" /> *@

                        <div id="LoadGetRealms" class="dropdown bootstrap-select disabled form-control" style="display:none">
                            <button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder disabled btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" aria-disabled="true">
                                <div>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span class="ms-2">Loading Realms...</span>
                                </div>
                            </button>
                        </div>

                        <select asp-for="Realm" class="selectpicker form-control" data-live-search="true" required
                                title="Select Realm" data-size="5">
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <Label asp-for="CharacterName" class="mb-1 form-label"></Label>
                        <input asp-for="CharacterName" class="form-control" data-bs-theme="light" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col position-relative">
                        <Label asp-for="TargetRating" class="mb-1 form-label"></Label>
                        <input asp-for="TargetRating" class="form-control" data-bs-theme="light" />
                        <div class="invalid-tooltip">
                            Target rating can only be a value between 1 and 5000.
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col AdvancedOptions">
                        <hr />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <Label asp-for="ExpansionId" class="mb-1 form-label"></Label>
                        <select asp-for="ExpansionId" class="selectpicker form-control" data-live-search="true" required
                                title="Select Expansion" data-size="5">
                            @foreach (var item in ViewBag.expansions)
                            {
                                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                            }
                        </select>

                    </div>
                    <div class="col-6">
                        <Label asp-for="SeasonSlug" class="mb-1 form-label"></Label>
                        <div id="LoadGetSeasons" class="dropdown bootstrap-select disabled form-control" style="display:none">
                            <button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder disabled btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" aria-disabled="true">
                                <div>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span class="ms-2">Loading Seasons...</span>
                                </div>
                            </button>
                        </div>
                        <select asp-for="SeasonSlug" class="selectpicker form-control" data-live-search="true" required
                                title="Select Season" data-size="5"></select>


                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-8">

                        <Label asp-for="AvoidDungeon" class="mb-1 form-label"></Label>
                        <div id="LoadGetDungeons" class="dropdown bootstrap-select disabled form-control" style="display:none">
                            <button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder disabled btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" aria-disabled="true">
                                <div>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span class="ms-2">Loading Dungeons...</span>
                                </div>
                            </button>
                        </div>
                        <select asp-for="AvoidDungeon" class="selectpicker form-control"
                                multiple data-actions-box="true"
                                title="Dont avoid any dungeons"></select>
                    </div>
                    <div class="col-4 position-relative">
                        <Label asp-for="MaxKeyLevel" class="mb-1 form-label"></Label>
                        <input asp-for="MaxKeyLevel" class="form-control" data-bs-theme="light" value="15" />
                        <div class="invalid-tooltip">
                            Key level can only be a value between 2 and 30.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input asp-for="ThisWeekOnly" class="form-check-input" checked="checked" />

                            <Label asp-for="ThisWeekOnly" class="form-check-label"></Label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="spinner-border spinner-border-sm loadingSpinner" role="status" aria-hidden="true" style="display:none"></span>
                            <span role="status" style="display:none">Loading...</span>
                            <span role="button">Submit</span>

                        </button>

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="d-grid gap-2">
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Heads up:</h4>
                            <p>
                                Some of Raider.io API endpoints are down, which render this tool unusable until the API is back up.
                                My apologies for any inconvenience this is causing, I understands its the start of the season and planning your keys is helpful at this time.
                            </p>
                        </div>
                    </div>
                </div>

                @* <div class="row mb-3">
                <div class="col">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7855962973375225"
                crossorigin="anonymous"></script>
                <!-- Ad Unit -->
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7855962973375225"
                data-ad-slot="4449400025"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
                </div> *@
            </div>
        </div>

        <div class="col mt-5" id="CharInfoDiv">
            <div>
                <h3>How To Use:</h3>
                <p class="lead">
                    Start by entering your World of Warcraft&trade; character information on the left form:
                </p>
                <ul>
                    <li><b>Region</b>: The region where your character lives</li>
                    <li><b>Realm</b>: The realm of your character</li>
                    <li><b>Character Name</b>: Your character&rsquo;s name</li>
                    <li><b>Target Rating</b>: The Mythic+ Rating you would like to achieve.</li>
                    <li><b>Avoid a Dungeon</b>: Select your least favorite dungeon that you would like to exclude from the results.</li>
                    <li><b>Max Level</b>: The maximum key level you are willing to attempt. (Maximum acceptable value is 30)</li>
                    <li>
                        <b>Get the rating this week</b>: When this option is enabled. it will only suggest runs for this week, with the current first affix. If this is disabled, then it will
                        suggest results for both the current week and next week.
                    </li>


                </ul>
            </div>
            <div>
                <h3>Understanding the Results:</h3>
                <p>
                    Once you successfully enter the information and press submit, this tool will evaluate your current overall rating as well as your rating for each dungeon. with that information
                    it will generate multiple options, from the hardest but fastest to the easiest but longest.
                </p>
                <p>
                    Each option will have the suggested dungeons, the minimum key level, and the minimum time to finish it to get the ratings. If you successfully finished all the suggested keys, you would have the desired rating.
                </p>
            </div>
            <div>
                <h3>How it Works:</h3>
                <p>
                    To understand how this tool works, first we need to understand how World of Warcraft&trade; calculates Mythic+ Rating:
                </p>
                <p>
                    Each key level gives a different "base" score. the following table shows how the base scores are distributed as follows:

                    <div class="d-flex justify-content-center">
                        <div style="max-height:300px;overflow-y:scroll">
                            <table class="table table-bordered sticky-header">
                                <thead class="thead-dark bg-dark">
                                    <tr>
                                        <th>Key Level</th>
                                        <th>Base Score</th>
                                        <th>Min Score</th>
                                        <th>Max Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var metric in ViewBag.dungeonMatrix)
                                    {
                                        <tr>

                                            <td>@metric.Level</td>
                                            <td>@metric.Base</td>
                                            <td>@metric.Min</td>
                                            <td>@metric.Max</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </p>
                <p>
                    The "Base Score" in the above table represent the rating you would get if you finished the dungeon exactly on time. However, you will get more rating (up to the "Max Score" from the table) if you finish the
                    dungeon before it's time limit. Similarly, if you finish the dungeon after the time limit you will get less than the base score (down to the "Min Score"), however if you
                    run time was more than 40% of the time limit then 0 rating is given.
                </p>
                <p>
                    How much rating you get is calculated as follows:<br />
                    First we need to calculate the run time percentage. The run time percentage is calculated as follows:
                    <br />
                    <div class="code eq" data-eqNo="Eq. 1">
                        <var>P<sub>T</sub></var> = Min[ (<var>T<sub>Limit</sub></var> - <var>T<sub>Run</sub></var>) / <var>T<sub>Limit</sub> </var>, 0.40 ]%
                    </div>
                    <br /> where: <br />
                    <var>T<sub>Limit</sub></var> = The dungeon's time limit. <br />
                    <var>T<sub>Run</sub></var> = Your dungeon's run time. <br />
                    Note that the result value is capped at 40% using "Min". i.e. it takes the minimum between the calculated value and 40%.
                </p>
                <p>
                    Using calculated percentage from Eq. 1, we can calculate the run's rating as follows: <br />
                    <div class="code eq" data-eqNo="Eq. 2">
                        <var>Rating</var> = <var>Base<sub>level</sub> + (<var>P<sub>T</sub></var> * 12.5) </var>
                    </div>
                    <br /> where: <br />
                    <var>P<sub>T</sub></var> = The time percentage calculated in the previous step. <br />
                    <var>Base<sub>level</sub></var> = The base score for the key level, looked up from the table above. <br />
                </p>

                <p>
                    For example:<br />
                    if you ran a level 17 key. assuming the time limit for that dungeon is 33 minutes ( = 1980 seconds in total) and
                    you completed it in 27mins and 47 seconds ( = 1667 seconds in total) then the rating for this run can be calculated as follows:<br />
                    <div class="code">
                        <var>P<sub>T</sub></var> = (1980 - 1667) / 1980 = 15.81%
                    </div>
                    <br />
                    Note that if the result was higher than 40% then we cap it at 40% <br />

                    Next step is to calculate the dungeon rating:<br />
                    given that the key level was 17 in this example. we look up the base score to be 149 from the table above. <br />
                    and 15.81% = 15.81/100 = 0.1581 <br />
                    <div class="code">
                        <var>Rating</var> = 149 + (0.1581 * 12.5) = 150.98 ≈ 151
                    </div>
                </p>

                <p>
                    For calculating overtime runs, it's a very similar process, except, the moment the key is over time, 5 ratings is taken away from the base, and then the rest is taken away
                    depend on the time percentage: <br />
                    <div class="code eq" data-eqNo="Eq. 3">
                        <var>Rating</var> = <var>Base<sub>level</sub> + (<var>P<sub>T</sub></var> * 12.5) - 5 </var>
                    </div><br />
                    Notes:
                    <ol>
                        <li>
                            when calculating <var>P<sub>T</sub></var> here, it's the same exact formula above (Eq. 1), but since the run time is bigger than the time limit then the percentage would be negative, therefore subtracting from the base score
                        </li>
                        <li>
                            If <var>P<sub>T</sub></var> > 40% then 0 rating is given to this dungeon
                        </li>
                        <li>
                            If the key level is 21 or higher, then not timing it will use the base score for a level 20 key.
                            for example, if the key level is 26 and it was over the time limit then <var>Base<sub>20</sub></var> = 170 (and not 212) is used for the calculations
                        </li>
                    </ol>

                </p>

                <p>
                    All this is half the story. We cannot forget about the alternating weeks (Tyrannical and Fortified). For each dungeon, you will have 2 ratings, the best rating you got for Tyrannical
                    and another for Fortified. The way they are combined is as follows: <br />
                    <div class="code eq" data-eqNo="Eq. 4">
                        <var>Dungeon Rating</var> = (Max[<var>R<sub>Tyr</sub></var> , <var>R<sub>Fort</sub></var>] * 1.5) + (Min[<var>R<sub>Tyr</sub></var> , <var>R<sub>Fort</sub></var>] * 0.5)
                    </div>
                    <br /> where: <br />
                    <var>R<sub>Tyr</sub></var> = Your rating for a certain dungeon on Tyrannical. <br />
                    <var>R<sub>Fort</sub></var> = Your rating for the same dungeon on Fortified. <br />
                </p>

                <p>
                    To continue on the above example, lets assume that the above run was on Tyrannical week, and it was your best run. And also, let us say that your best run on Fortified (for the same dungeon)
                    is a level 16, finished within 35 mins and 15 seconds ( = 2115 seconds in total), note that this is over the time limit. Then the calculations go as follows:<br />
                    First we calculate the time percentage:<br />

                    <div class="code">
                        <var>P<sub>T</sub></var> = (1980 - 2115) / 1980 = -6.82%
                    </div>
                    <br />
                    Therefore, the rating should be calculated as:<br />
                    <div class="code">
                        <var>Rating<sub>Fort</sub></var> = 142 + (-0.0682 * 12.5) - 5  = 136.15 ≈ 136
                    </div><br />

                    Note that we subtracted 5 rating because this run was over the time limit as per Eq. 3. <br />

                    From here we can calculate the overall rating for this particular dungeon as <br />
                    <div class="code">
                        <var>Dungeon Rating</var> = (Max[151 , 136] * 1.5) + (Min[151 , 136] * 0.5) <br />
                        = (151 * 1.5) + (136 * 0.5) = 294.5
                    </div><br />

                    And that would be your total rating for this particular dungeon. we calculate the rating for each of the different dungeon, and then add up all the ratings
                    to get the total Mythic+ rating.
                </p>

                <p>Note that the best rating for each affix (Tyrannical and Fortified) for each dungeon is the one used for the final mythic rating.</p>

                <p>
                    Using the above formulas, this tool applies them backwards. when you set a target rating. the tool fetches all your runs from raider.io and calculates what is the
                    minimum key level and run time required to achieve that over all rating. by giving you options on how many runs are required to achieve the rating<br />
                    For more details on the entire code, you can find it on github: <a href="https://github.com/SamFarah/RatingCalculator" target="_blank">https://github.com/SamFarah/RatingCalculator</a>
                </p>
            </div>
        </div>
    </div>
</form>